apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: audiobookshelf
  name: audiobookshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      containers:
      - image: ghcr.io/advplyr/audiobookshelf:2.32.1
        name: audiobookshelf
        ports:
          - containerPort: 3005
        envFrom:
          - configMapRef:
              name: env
        volumeMounts:
          - mountPath: /audiobooks
            name: audiobooks
          - mountPath: /podcasts
            name: podcasts
          - mountPath: /config
            name: config
          - mountPath: /metadata
            name: metadata
      volumes:
        - name: audiobooks
          persistentVolumeClaim:
            claimName: audiobooks
        - name: podcasts
          persistentVolumeClaim:
            claimName: podcasts
        - name: config
          persistentVolumeClaim:
            claimName: config
        - name: metadata
          persistentVolumeClaim:
            claimName: metadata
